main {
  width: 100vw;
  height: 85vh;
  background-image: url(./endless-constellation.svg);
  background-attachment: fixed;
  h4 {
    text-shadow: 2px 2px 10px black;
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
  }
  .itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
